<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>

    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.google.com" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>

      <h2>Example Usage:</h2>
      <a href="xxx/api/shorturl/3">
        <%= base_url %>/api/shorturl/1
      </a>
      <h3>Will Redirect to:</h3>
      <p>https://www.google.com</p>

    </main>
    <footer>
      <p>By <a href="https://github.com/gaomingyang/fcc-backend/tree/main/urlshortener-microservice">Mingyang</a></p>
    </footer>
  </body>
</html>
